App_WebReferences/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56798/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56798/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56798/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Welcome_InputMessage">
    <wsdl:part name="parameters" element="tns:Welcome" />
  </wsdl:message>
  <wsdl:message name="IService1_Welcome_OutputMessage">
    <wsdl:part name="parameters" element="tns:WelcomeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMovieByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieByTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMovieByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMoviesByCategoryId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByCategoryId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMoviesByCategoryId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByCategoryIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMovieCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMovieCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMovieCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMovieCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllStocks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStocks" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllStocks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStocksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStockByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockByCode" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStockByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockByCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Welcome">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Welcome" message="tns:IService1_Welcome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WelcomeResponse" message="tns:IService1_Welcome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMovies" message="tns:IService1_GetAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMoviesResponse" message="tns:IService1_GetAllMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovieByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMovieByTitle" message="tns:IService1_GetMovieByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMovieByTitleResponse" message="tns:IService1_GetMovieByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByCategoryId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMoviesByCategoryId" message="tns:IService1_GetMoviesByCategoryId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMoviesByCategoryIdResponse" message="tns:IService1_GetMoviesByCategoryId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMovieCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMovieCategories" message="tns:IService1_GetAllMovieCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMovieCategoriesResponse" message="tns:IService1_GetAllMovieCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStocks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllStocks" message="tns:IService1_GetAllStocks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllStocksResponse" message="tns:IService1_GetAllStocks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStockByCode" message="tns:IService1_GetStockByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStockByCodeResponse" message="tns:IService1_GetStockByCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Welcome">
      <soap:operation soapAction="http://tempuri.org/IService1/Welcome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieByTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMovieByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByCategoryId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMoviesByCategoryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMovieCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMovieCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStocks">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllStocks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockByCode">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStockByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:56798/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>